:root {
  color-scheme: light dark;
}
body {
  background-color: Canvas;
  color: CanvasText;
}
nav {
  background-color: Canvas;
  color: CanvasText;
}
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  z-index: 999;
}
nav a.current {
  font-weight: bold;
  text-decoration: underline;
}

article img {
  width: 100%;
  max-width: 300px;  
  height: 200px;  
  object-fit: cover; 
  display: block;
  margin: 0 auto;  
  padding: 10px;  
}


.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;  
}


article {
  border: 1px solid #ccc;  
  padding: 16px;  
  background-color: #f9f9f9;  
}


