:root {
  color-scheme: light dark;
}
body {
  background-color: Canvas;
  color: CanvasText;
}
nav {
  background-color: Canvas;
  color: CanvasText;
}
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  z-index: 999;
}
nav a.current {
  font-weight: bold;
  text-decoration: underline;
}
